.App {
  text-align: center;
  
  
}
.font-link {
 
font-family: "aileron", sans-serif;
font-weight: 400;
font-style: normal;
}

.App-header {
 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color:  rgb(15 23 42);
}

* {
  padding: 0 4%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color:  rgb(240, 240, 240);
  
 }
 

.navbar {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: rgb(161, 181, 190);
 
}
.logo {
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(15, 15, 15);

}
.desktopMenuListItem {
  margin: 0.5rem;
  cursor: pointer;
  color: rgb(70, 68, 68);
  font-weight: 100;
  font-size: medium;
}

.projects-grid {
  grid-gap: 5rem;
  display: grid;
  gap: 5rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  height: auto;
  width: 100%;
}


.port {
  color: #e66f00;
}

.smart {
  color: rgb(161, 181, 190);
}
.hello {
  color: rgb(25, 25, 25);
}

.headerText {
  color: rgb(25, 25, 25);
}

.footer {
  display: flex;
  justify-content: center;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: rgb(161, 181, 190);
  
 
}
.smart {
  color: rgb(25, 25, 25);
}

.project-content p {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
 
}
.project-content h3 {
  font-size: 2rem;
  margin-bottom: 6rem;
  font-style: italic;
  color: rgb(70, 68, 68);
}